/* Apply a background color to the body */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#title-box {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 30px; /* Increase the padding */
    width: 100%;
    margin: 10px;
    text-align: center; /* Center-align the title */
}

/* Style the title text */
#title-box h1 {
    margin: 0; /* Remove default margin */
}







/* Style the container to center its children */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

/* Style the registration and login boxes */
.box {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    margin: 10px;
}

#social-box {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    margin: 10px;
}

/* Style the social-signin divs to stack buttons */
.social-signin {
    width: calc(33.33% - 10px);
    padding: 10px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-align: center; /* Center the button's text */
    font-weight: bold;
}

/* Style the social sign-in buttons */
.social-signin.facebook {
    background-color: #3b5998;
}

.social-signin.twitter {
    background-color: #1da1f2;
}

.social-signin.google {
    background-color: #DB4437;
}

/* Style form elements */
form {
    text-align: left;
    width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the "Sign in with social network" text */
.loginwith {
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin: 10px 0;
}
